
/* font faces */
@font-face {
  font-family: StampRSPKOne-Regular;
  src: url('https://beorisu.neocities.org/StampRSPKOne-Regular.otf');
}

@font-face {
  font-family: StampRSPKOne-Medium;
  src: url('https://beorisu.neocities.org/StampRSPKOne-Medium.otf');
}
@font-face {
  font-family: perfecto-calligraphy-personal-use;
  src: url('https://beorisu.neocities.org/perfecto-calligraphy-personal-use.regular.ttf');
}

body {
  margin: 0;
  background: white;
  cursor: url('https://beorisu.neocities.org/Untitled_design__1_-removebg-preview.png'), auto;
}

a:hover {
  cursor: url('https://beorisu.neocities.org/Untitled_design__1_-removebg-preview.png'), pointer;
}

* {
  box-sizing: border-box;
}

/* Layout */
#container {
  max-width: 900px;
  margin: 0 auto;
}

#container a {
  color: #ED64F5;
  font-weight: bold;
}

#header {
  width: 100%;
  background-color: #3a3b2e;
  height: 150px;
  background-image: url('https://beorisu.neocities.org/processed-image.png');
  border-radius: 20px 20px 0px 0px;
  background-size: 100%;
  position: relative;
  top: 20px;
}

/* Navigation */
#navbar {
  height: 40px;
  background-color: #2e2116;
  width: 100%;
  position: relative;
  bottom: 10px;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

#navbar li {
  padding-top: 10px;
}

#navbar li a {
  font-family: 'StampRSPKOne-Regular', sans-serif;
  color: #ede0c8;
  font-weight: 100;
  position: relative;
  bottom: 2px;
  text-decoration: none;
  font-size: 15px;
  text-shadow: 2px 2px 4px #000000;
}

#navbar li a:hover {
  font-family: 'StampRSPKOne-Medium', sans-serif;
  color: #FFD9EB;
  position: relative;
  bottom: 8px;
  text-decoration-style: double;
  font-weight: 800;
  font-size: 25px;
}

/* Flex layout */
#flex {
  display: flex;
}

/* Sidebars */
aside {
  font-family: 'perfecto-calligraphy-personal-use';
  background-color: transparent;
  width: 240px;
  padding: 20px;
  font-size: 30px;
  position: relative;
  bottom: 35px;
}


/* Main content */
main {
  font-family: 'StampRSPKOne-Regular';
  background: white url('https://i.pinimg.com/736x/36/4d/de/364dde82ecbb4e51e3704ed8278a20a2.jpg');
  border: 2px dashed #2e2116;
  flex: 1;
  border-radius: 20px;
  padding: 20px;
  order: 2;
  position: relative;
  top: 27px;
  width: 80%;
  height: 55vh;
}

/* Album art and CD */

lol,
.img2 {
  position: relative;
  left: 15px;
  width: 100px;
  height: 100px;
  background-color: black;
  color: black;
  z-index: 999;
}

.img1 {
  position: absolute;
  left: 65px;
  top: 15px;
  width: auto;
  height: 90px;
  z-index: 800;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.img1:hover {
  cursor: help;
  -webkit-animation: pop 0.3s ease;
}

/* Keyframes for spinning cd*/
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Footer */
footer {
  font-family: 'StampRSPKOne-Medium', sans-serif;
  color: #2e2116;
  background: white;
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 10px;
}


hr {
  border: none;
  height: 32px;
  background-image: url('https://64.media.tumblr.com/737d783a8e44ec3e8041644dd16b6517/4160be3cc2b84620-cf/s540x810/a8dab8298352118a6ecae372fb0d4a7030711d14.gifv');
  background-size: auto 100%;
  background-repeat: repeat;
  background-position: center;
}


/* Responsive design */
@media only screen and (max-width: 800px) {
  #flex {
    flex-wrap: wrap;
  }
  aside {
    width: 100%;
  }
  main {
    order: 1;
  } 
  #leftSidebar {
    order: 2;
  }
  #navbar ul {
    flex-wrap: wrap;
  }
}
